<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<description>关于公司的配置信息</description>
		<!-- 参数名 -->
		<param-name>company</param-name>
		<!-- 参数值 -->
		<param-value>沈阳机床上海分院立体库管理系统</param-value>
	</context-param>
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	<init-param>
		<param-name>config</param-name>
		<param-value>/WEB-INF/struts-config.xml</param-value>
	</init-param>
    <init-param>
		<param-name>debug</param-name>
		<param-value>3</param-value>
    </init-param>
    <init-param>
		<param-name>detail</param-name>
		<param-value>3</param-value>
	</init-param>
	<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
   
	<welcome-file-list>
		<welcome-file>/httpLogin.jsp</welcome-file>
	</welcome-file-list>  
	
	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	
    <servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	
	<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>CXFServlet</servlet-name>
		<url-pattern>/ServiceServer/*</url-pattern>
	</servlet-mapping>
	
  	<context-param>
 
  	<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
  	</context-param>
</web-app>